.registration {
    display: flex;
    flex-direction: column;
    height: 97.8vh;
    background-image: url(../../images/cutting-board-cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: white;
}

.signup {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    height: 50%;
    margin: 5% auto;
    padding: 1% 2%;
    background-color: rgba(155, 136, 128, 0.85);

    input {
        height: 8%;
        padding: 2%;
        box-sizing: border-box;

        &:focus {
            border: 3px solid #555;
        }
    }
}

.login {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    height: 30%;
    margin: 5% auto;
    padding: 1% 2%;
    background-color: rgba(155, 136, 128, 0.85);

    input {
        height: 15%;
        padding: 2%;
        box-sizing: border-box;

        &:focus {
            border: 3px solid #555;
        }
    }
}

.error {
    margin: 1% 2%;
}