$phone: 500px;

.registration {
    display: flex;
    flex-direction: column;
    height: 97.8vh;
    background-image: url(../../images/cutting-board-cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: white;
}

.signup {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: space-between;
    height: 50%;
    margin: 10% auto;
    padding: 1% 2%;
    background-color: rgba(155, 136, 128, 0.85);
    
    @media (max-width: $phone) {
        margin-top: 30%;
    }

    ::placeholder {
        color: white;
    }

    input {
        height: 8%;
        padding: 2%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        background-color:  inherit;

        &:focus{
            transition: 0.2s;
            border: 3px solid white;
        }
    }
}

.login {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: space-between;
    height: 30%;
    margin: 15% auto;
    padding: 1% 2%;
    background-color: rgba(155, 136, 128, 0.85);

    @media (max-width: $phone) {
        margin-top: 40%;
    }

    ::placeholder {
        color: white;
    }

    input {
        height: 15%;
        padding: 2%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        background-color:  inherit;

        

        &:focus{
            transition: 0.2s;
            border: 3px solid white;
        }
    }
}

.error {
    margin: 1% 2%;
}


