.registration {
    display: flex;
    flex-direction: column;
    height: 97.8vh;
    background-image: url(../../images/cutting-board-cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.signup {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    height: 50%;
    margin: 5% auto;
    padding: 1% 2%;
    background-color: rgba(155, 136, 128, 0.85);
    

    h2 {
        color: white;
    }
}