textarea, input { outline: none; }

.recipe-container {
    display: flex;
    align-items: center;
    background-color: rgba(196, 196, 196, 0.8);
    margin: 5% auto;
    border-radius: 20px;
    width: 54%;

    img {
        width: 50%;
        margin: 6%;
    }
}

.recipe-form {
    display: flex;
    padding: 2%;
    width: 85%;

    .labels {
        display: flex;
        flex-direction: column;
        
    }

    .fields {
        width: 20vw;
    }

    .field {
        margin: 2.8% 0 6% 2%;
        width: 100%;
    }

    label {
        font-size: 2rem;
        margin-bottom: 10%;
    }

    .title,
    .ingredients,
    .directions {
        width: 100%;
        padding: 0.7%;
        box-sizing: border-box;

        &:focus {
            border: 3px solid #555;
        }
    }

    .select {
        width: 49%;
        padding: 0.7%;
        box-sizing: border-box;
    }

    button {
        width: 30%;
        // border: 0;
        padding: 0;
        // background-color: inherit;
        font-size: 1rem;
        // margin-top: 5%;
        margin-left: 2%;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }

    .error {
        margin: 1% 2%;
        color: #bb0000
    }
}

h2 {
    color: #004403;
    margin-bottom: 10%;
    font-size: 2rem;
    margin-left: 1%;
}

.form {
    margin-top: 12%;
    padding-bottom: 7%;
}
