.dashboard-div {
    width: 100%;
    // border: 1px solid red
}

.chef-card {
    display: flex;
    // justify-content: space-evenly;
    flex-wrap: wrap;
    // border: 1px solid blue;
    margin: 2%;
}

.card-deck-dashboard {
    width: 25%;
}

