.dashboard-div {
    width: 100%;
    // border: 1px solid red
}

.chef-card {
    display: flex;
    // justify-content: space-evenly;
    flex-wrap: wrap;
    // border: 1px solid blue;
    margin: 2%;
}

.card-deck-dashboard {
    width: 25%;
}

h1 {
    color: #004403;
    font-size: 4rem;
    margin-left: 3%;
    margin-right: 5%;
    // margin-top: 2%;
    margin-bottom: -20px;
}

.portfolio-cont {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 4%;

    a {
        width: 10%;
    }
}

button {
    margin-left: 5%;
    width: 100%;
}



